@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Space+Grotesk:wght@300..700&display=swap');
$transition: 0.3s;
$font-grotesk: "Space Grotesk", sans-serif;
$font-montserrat: "Montserrat", sans-serif;

* {
    padding: 0;
    margin: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
    box-sizing: border-box;
    color: #718096;
}

button, input, select, textarea {
    outline: none;
    background-color: transparent;
    border: 0;
    color: #718096;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

.main {
    display: flex;
    flex-wrap: wrap;
    &.menu-open {
        .nav {
            width: 260px;
            padding: 30px 20px;
        }
        .page {
            width: calc(100% - 260px);
        }
    }
}

.nav {
    background-color: #fff;
    border-radius: 20px;
    padding: 30px 0;
    width: 80px;
    box-shadow: 0 0 24px rgba(0,0,0,0.08);
    position: relative;
    transition: $transition;
    position: fixed;
    height: calc(100% - 20px);
    display: block;
    &_menu {
        padding: 0;
        width: 44px;
        height: 44px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        >img {
            width: 24px;
        }
    }
    &_title {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 20px;
        justify-content: center;
        transition: $transition;
        position: relative;
    }
    &_logo {
        display: flex;
        align-items: center;
        gap: 10px;
        position: absolute;
        opacity: 0;
        visibility: hidden;
        left: 56px;
        top: 50%;
        transform: translateY(-50%);
        >img {
            width: 20px;
        }
        >h1 {
            font-size: 20px;
            color: #8E61C3;
            margin: 0;
            white-space: nowrap;
        }
    }
    &_icon {
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            width: 24px;
            height: 24px;
            path {
                fill: #8E61C3;
            }
        }
    }
    ul {
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12px;
            position: relative;
            padding: 15px;
            border-radius: 14px;
            width: 54px;
            height: 54px;
            margin-left: auto;
            margin-right: auto;
            span {
                color: #4A4458;
                opacity: 0;
                visibility: hidden;
                transition: $transition;
                position: absolute;
            }
            &.active {
                background-color: #9E84BB;
                .nav {
                    &_icon {
                        svg {
                            path {
                                fill: #fff;
                            }
                        }
                    }
                }
                span {
                    color: #fff;
                }
            }
        }
        li {
            margin-bottom: 16px;
        }
    }
    .purchase {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border-radius: 100px;
        border: 1px solid #F3994F;
        gap: 8px;
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: 48px;
        height: 48px;
        border-radius: 50%;
        transition: $transition;
        img {
            width: 24px;
        }
        span {
            font-size: 16px;
            font-weight: 700;
            color: #F3994F;
            display: none;
        }
    }
    &.menu-open {
        width: 260px;
        padding: 30px 28px;
        .nav {
            &_logo {
                position: static;
                opacity: 1;
                visibility: visible;
                transform: none;
            }
            &_title {
                justify-content: flex-start;
            }
        }
        ul {
            a {
                justify-content: flex-start;
                width: 100%;
                border-radius: 20px;
                span {
                    visibility: visible;
                    opacity: 1;
                    position: static;
                }
            }
        }
        .purchase {
            width: calc(100% - 40px);
            border-radius: 100px;
            span {
                display: block;;
            }
        }
    }
    @media screen and (max-width: 991px) {
        position: fixed;
        width: 260px;
        padding: 25px 15px;
        z-index: 10;
        left: -300px;
        top: 20px;
        height: calc(100% - 40px);
        .nav {
            &_logo {
                display: flex;
            }
        }
        ul {
            a {
                justify-content: flex-start;
                width: 100%;
                span {
                    display: block;
                    position: static;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        .purchase {
            width: fit-content;
            padding: 4px 12px;
            border-radius: 100px;
            left: 15px;
            transform: none;
            span {
                display: block;;
            }
        }
        &.active {
            left: 12px;
        }
        &_logo {
            display: none;
        }
        &_title {
            justify-content: flex-start;
        }
    }
}

.page {
    width: calc(100% - 80px);
    padding-left: 30px;
    transition: $transition;
    &-main {
        background-color: #F3F6FB;
        padding: 10px;
        overflow: hidden;
        position: relative;
        @media screen and (max-width: 991px) {
            overflow: visible;
        }
    }
    &-inner {
        background-image: url(../img/bg.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 100vh;
        background-color: #F3F6FB;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
        &__main {
            padding: 35px 40px;
            background-color: #fff;
            border-radius: 30px;
            max-height: calc(100vh - 50px);
            overflow-y: auto;
            width: 100%;
            position: relative;
            .btn-back {
                margin-left: auto;
            }
            &.page {
                &-discuss {
                    max-width: 758px;
                }
                &-term {
                    max-width: 500px;
                }
            }
        }
        &__title {
            text-align: center;
            font-size: 25px;
            font-weight: 700;
            color: #4A4458;
            margin-bottom: 25px;
        }
        &__text {
            color: #000;
            line-height: 1.9;
            margin: 0;
            text-align: justify;
        }
        .page_head {
            display: none;
        }
    }
    &_inner {
        background-color: #fff;
        border-radius: 30px;
        padding-top: 60px;
        box-shadow: 0 0 24px rgba(0,0,0,0.08);
        overflow-y: auto;
        position: fixed;
        width: calc(100% - 20px - 80px - 10px);
        height: calc(100% - 20px);
        top: 10px;
        right: 10px;
        transition: $transition;
    }
    &.menu-open {
        .page {
            width: calc(100% - 260px);
            &_inner {
                width: calc(100% - 260px - 20px - 10px);
            }
        }
        .chat_bottom {
            width: calc(100% - 260px - 20px - 10px - 40px);
        }
    }
    &_head {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: fixed;
        top: 22px;
        right: 58px;
        z-index: 10;
        .nav_title {
            display: none;
        }
    }
    @media screen and (max-width: 991px) {
        width: 100%;
        padding: 0;
        &-inner {
            background-image: none;
            padding: 80px 20px 30px;
            .page_head {
                display: flex;
            }
            &__main {
                box-shadow: 0 0 24px rgba(0,0,0,0.08);
                overflow: visible;
                max-height: inherit;
                padding: 20px 30px;
                border-radius: 20px;
            }
        }
        &_inner {
            background-color: transparent;
            border-radius: 0;
            box-shadow: none;
            padding-top: 70px;
            height: auto;
            position: static;
            width: 100%;
        }
        &_head {
            justify-content: space-between;
            width: 100%;
            padding: 0 20px;
            background-color: #F3F6FB;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 64px;
            right: 0;
            top: 0;
            border-bottom: 1px solid #DBDBDB;
            .nav_title {
                display: flex;
                margin: 0;
            }
            .nav_logo {
                display: none;
            }
        }
    }
}

.account {
    &_pic {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        position: relative;
        cursor: pointer;
        >img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            top: 0;
            left: 0;
        }
    }
    &_nav {
        display: none;
        width: 140px;
        position: absolute;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.15);
        right: 0;
        top: calc(100% + 6px);
        right: -20px;
        padding: 10px 0;
        ul {
            border-bottom: 1px solid #D9D9D9;
            &:last-child {
                border: 0;
            }
        }
        li {
            padding: 5px 0;
        }
        a {
            display: flex;
            align-items: center;
            gap: 14px;
            padding: 0 10px;
            cursor: pointer;
            img {
                width: 18px;
            }
            span {
                font-size: 16px;
                color: #4A4458;
            }
        }
        &_text {
            font-size: 10px;
            color: #B2B2B2;
            padding-left: 10px !important;
            padding-right: 10px !important;
        }
    }
    @media screen and (max-width: 991px) {
        &_nav {
            right: 20px;
        }
    }
}

.fixed-btn {
    width: 34px;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    >img {
        width: 100%;
    }
    @media screen and (max-width: 1399px) {
        display: none;
    }
}

.btn-back {
    width: 24px;
    height: 24px;
    padding: 0;
    display: block;
    svg {
        width: 24px;
        height: 24px;
    }
}

.modal {
    &-backdrop {
        background-image: url(../img/bg.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        &.show {
            opacity: 1;
        }
    }
    &-dialog {
        // margin: 20px;
        padding: 10px;
    }
    .btn-back {
        position: absolute;
        top: 25px;
        right: 30px;
        z-index: 1;
    }
    &-account {
        color: #000;
        overflow-y: auto !important;
        max-width: 450px;
        border-radius: 30px;
        .modal {
            &-content {
                border: 0;
                border-radius: 30px;
                // overflow: hidden;
            }
            &-body {
                padding: 90px 40px 70px;
            }
        }
        .btn-verify {
            padding: 9px 14px;
            width: fit-content;
            display: block;
            margin-left: auto;
            color: #4B2E77;
            font-size: 14px;
            margin-bottom: 14px;   
        }
        .city-select {
            display: flex;
            align-items: center;
            gap: 14px;
            width: 100%;
            select {
                width: calc((100% - 14px) / 2);
                border-radius: 10px;
                border: 1px solid #7B59A3;
                height: 52px;
                appearance: none;
            }
        }
        &__logo {
            display: block;
            width: 160px;
            margin: 0 auto 60px;
        }
        &__progress {
            margin-bottom: 40px;
            .row {
                margin-left: -7px;
                margin-right: -7px;
                >div {
                    padding-left: 7px;
                    padding-right: 7px;
                }
            }
            .progress__item {
                width: 100%;
                height: 8px;
                border-radius: 8px;
                background-color: #07459E;
                &.active {
                    background-color: #FCDE06;
                }
            }
        }
        &__checkbox {
            gap: 10px;
            display: flex;
            align-items: center;
            input {
                width: 18px;
                height: 18px;
                position: relative;
                &::before {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 100%;
                    border-radius: 3px;
                    border: 2px solid #000000;
                    top: 0;
                    left: 0;
                }
            }
            label {
                color: #232323;
            }
        }
        &__forget {
            padding: 0;
            color: #232323;
        }
        &__btn {
            width: 100%;
            height: 47px;
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            border: 1px solid;
            font-size: 18px;
            font-weight: 700;
            svg {
                width: 18px;
                height: 18px;
                path {
                    fill: #fff;
                }
            }
            &.btn {
                &-purple {
                    background-color: #7B59A3;
                    border-color: #7B59A3;
                    color: #fff;
                    span {
                        color: #fff;
                    }
                }
                &-orange {
                    background-color: #F3994F;
                    border-color: #E6E8E7;
                    box-shadow: 0 1px 2px rgba(0,0,0,0.03);
                    color: #4A4458;
                    &.border-purple {
                        border-color: #7B59A3;
                        color: #4B2E77;
                    }
                }
                &-white {
                    background-color: #fff;
                    border-color: #000000;
                    color: #4A4458;
                }
            }
        }
        &__or {
            margin: 16px 0;
            width: 100%;
            position: relative;
            z-index: 0;
            span {
                display: block;
                padding: 0 10px;
                background-color: #fff;
                line-height: 24px;
                margin: 0 auto;
                width: fit-content;
                color: #6E6E6E;
            }
            &::after {
                position: absolute;
                content: "";
                width: 100%;
                height: 1px;
                background-color: #D9D9D9;
                top: 50%;
                left: 0;
                z-index: -1;
            }
        }
        &__text {
            h3 {
            }
            ul {
                margin-bottom: 25px;
                li {
                    font-size: 14px;
                    color: #4A4458;
                }
            }
        }
        &__title {
            font-size: 30px;
            font-weight: normal;
            color: #4A4458;
            margin-bottom: 16px;
            font-weight: 700;
            text-align: center;
        }
        &__robot {
            width: 200px;
            margin: 12px auto 20px;
        }
        &__btn-row {
            margin-left: -6px;
            margin-right: -6px;
            >div {
                padding-left: 6px;
                padding-right: 6px;
            }
        }
        &__num {
            padding: 0 55px;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #E9D6FF;
            margin: 0 auto 24px;
            color: #4A4458;
            font-size: 35px;
            font-weight: 700;
        }
        &__verify {
            display: flex;
            align-items: center;
            gap: 9px;
            margin-bottom: 24px;
            .row {
                margin-left: -3px;
                margin-right: -3px;
                >div {
                    padding-left: 3px;
                    padding-right: 3px;
                    input {
                        text-align: center;
                        height: 56px;
                        width: 100%;
                        border-radius: 10px;
                        border: 2px solid #7B59A3;
                    }
                }
            }
            >img {
                width: 24px;
                cursor: pointer;
            }
        }
        &__back {
            position: absolute;
            width: 24px;
            height: 24px;
            padding: 0;
            top: 35px;
            left: 40px;
            >img {
                width: 100%;
            }
        }
        &__user {
            position: relative;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            margin: 0 auto;
            >img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                top: 0;
                left: 0;
            }
            &-edit {
                position: absolute;
                width: 46px;
                height: 46px;
                border-radius: 50%;
                background-color: #F5F5F5;
                border: 5px solid #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                right: 0;
                bottom: -16px;
                img {
                    width: 24px;
                }
                input {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    opacity: 0;
                }
            }
        }
        &__name {
            position: relative;
            margin-bottom: 20px;
            &-input {
                position: relative;
                margin: 0 auto;
                width: fit-content;
                input {
                    // padding: 0 12px;
                    border-bottom: 1px solid #000;
                    color: #000;
                    font-size: 20px;
                    width: 85px;
                    text-align: center;
                }
                button {
                    padding: 0;
                    width: 24px;
                    height: 24px;
                    position: absolute;
                    top: 50%;
                    right: -24px;
                    transform: translateY(-50%);
                    >img {
                        width: 100%;
                    }
                }
            }
        }
        &__plan {
            position: absolute;
            padding: 5px 8px;
            border-radius: 100px;
            background-color: #F5EDFF;
            color: #7B59A3;
            font-size: 18px;
            font-weight: 700;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
        &__upgrade {
            padding: 15px 18px;
            border-radius: 100px;
            border: 1px solid #7B59A3;
            background-color: #F3994F;
            font-size: 14px;
            font-weight: 700;
            color: #4B2E77;
            width: fit-content;
            display: block;
            margin: 0 auto 30px;
        }
        &__info {
            margin-bottom: 10px;
            li {
                display: flex;
                align-items: center;
                gap: 12px;
                p {
                    margin: 0;
                    font-size: 14px;
                    color: #000;
                }
            }
            &-btn {
                padding: 4px 16px;
                background-color: #5A60E0;
                color: #fff;
                font-size: 14px;
                font-weight: 700;
                border-radius: 100px;
                white-space: nowrap;
            }
        }
        &__textarea {
            textarea {
                border: 1.5px solid #7B59A3;
                border-radius: 20px;
                padding: 8px 12px;
                margin-bottom: 4px;
                width: 100%;
                height: 112px;
                &::placeholder {
                    font-size: 14px;
                    color: #9E9E9E;
                }
            }
            p {
                margin: 0;
                text-align: right;
                margin-bottom: 25px;
                font-size: 14px;
            }
        }
        &__current {
            font-size: 14px;
            color: #000;
            margin-bottom: 14px;
        }
        &__radio {
            display: flex;
            align-items: center;
            gap: 5px;
            margin-bottom: 10px;
            input {
                width: 16px;
                height: 16px;
                position: relative;
                &::before {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 100%;
                    border-radius: 3px;
                    border: 1px solid #7B59A3;
                    background-color: #fff;
                }
                &::after {
                    position: absolute;
                    content: "";
                    width: 18px;
                    height: 18px;
                    background-image: url(../img/check.svg);
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    left: 2px;
                    bottom: 2px;
                    opacity: 0;
                }
                &:checked {
                    &::after {
                        opacity: 1;
                    }
                }
            }
            label {
                font-size: 14px;
                color: #000;
            }
            &-wrap {
                display: flex;
                >p {
                    margin: 0;
                    font-size: 14px;
                    width: 95px;
                    color: #000;
                }
                .row {
                    width: calc(100% - 95px);
                    margin: 0;
                    >div {
                        padding: 0;
                    }
                }
            }
        }
        &__checkout-info {
            width: 100%;
            margin-bottom: 12px;
            td {
                width: 50%;
                font-size: 14px;
                color: #000;
                padding: 4px 0;
                &.td-title {
                    color: #979797;
                }
            }
        }
        &__plan-list {
            margin-bottom: 20px;
            li {
                font-size: 14px;
                color: #000;
                padding-left: 30px;
                position: relative;
                margin-bottom: 10px;
                &::before {
                    position: absolute;
                    content: "";
                    width: 20px;
                    height: 20px;
                    background-image: url(../img/check-greenbg.svg);
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    top: 0;
                    left: 0;
                }
            }
        }
        &__total {
            padding: 10px 0;
            border-top: 0.5px dashed #718096;
            border-bottom: 0.5px dashed #718096;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 16px;
            h4 {
                font-size: 16px;
                font-weight: 700;
                margin: 0;
                color: #343434;
            }
            p {
                font-size: 24px;
                font-weight: 700;
                color: #FF4267;
                margin: 0;
            }
        }
        &__count {
            text-align: center;
            font-size: 14px;
            font-weight: 700;
            color: #718096;
        }
        &__bill-info {
            width: fit-content;
            margin: 0 auto 25px;
            li {
                margin-bottom: 12px;
                display: flex;
                align-items: center;
                gap: 8px;
                p {
                    margin: 0;
                }
                button {
                    width: 28px;
                    height: 28px;
                    padding: 0;
                    svg {
                        width: 28px;
                        height: 28px;
                        path {
                            fill: #7B59A3;
                        }
                    }
                }
            }
        }
        &__record {
            width: 100%;
            th, td {
                padding: 15px 5px;
                text-align: center;
            }
            th {
                background-color: #7B59A3;
                color: #fff;
                font-weight: 700;
                font-size: 14px;
                white-space: nowrap;
                &:first-child {
                    border-radius: 20px 0 0 0;
                }
                &:last-child {
                    border-radius: 0 20px 0 0;
                }
            }
            td {
                color: #000;
                font-size: 12px;
                &.order-num {
                }
                &.td {
                    &-num {
                        word-break : break-all;
                        width: 18%;
                    }
                    &-content {
                        width: 24%;
                    }
                    &-time {
                        width: 24%;
                    }
                }
            }
            tr {
                &:last-child {
                    td {
                        &:first-child {
                            border-radius: 0 0 0 20px;
                        }
                        &:last-child {
                            border-radius: 0 0 20px 0;
                        }                        
                    }
                }
                &:nth-child(odd) {
                    td {
                        background-color: #F7F6FE;
                    }
                }
            }
        }
        &--login {
            box-shadow: 0 4px 4px rgba(0,0,0,0.25);
            .modal {
                &-content {
                    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
                }
            }
        }
        &--accountnum {
            .modal-account__btn {
                padding-left: 16px;
                padding-right: 16px;
                width: fit-content;
                color: #151615;
                display: flex;
                margin: 60px auto 0;
            }
        }
        &--reset {
            .modal-account {
                &__text {
                    margin-bottom: 35px;
                }
                &__robot {
                    margin: 35px auto 30px;
                }
            }
            &-2 {
                .modal-account {
                    &__text {
                        margin-bottom: 20px;
                    }
                }
            }
        }
        &--info {
            padding: 0;
            .modal {
                &-body {
                    padding: 0;
                }
                &-account {
                    &__head {
                        padding: 45px 20px 0;
                        background-color: #F5EDFF;
                        position: relative;
                        margin-bottom: 16px;
                        border-radius: 30px 30px 0 0;
                        &-mask {
                            position: absolute;
                            width: 100%;
                            left: 0;
                            bottom: -1px;
                        }
                    }
                    &__content {
                        padding: 0 30px 75px;
                    }
                    &__title {
                        margin-bottom: 32px;
                    }
                }
            }
            .btn-back {
                position: absolute;
                top: 23px;
                right: 28px;
                z-index: 1;
            }
        }
        &--subscribe {
            .form-item {
                margin-bottom: 20px;
            }
        }
        &--checkout {
            .modal {
                &-dialog {
                    max-width: 540px;
                }
                &-content {
                    box-shadow: 0 4px 30px rgba(54,41,183,0.07);
                    position: relative;
                }
                &-account {
                    &__checkbox {
                        margin-bottom: 24px;
                        a {
                            color: #000;
                            font-weight: 700;
                        }
                    }
                    &__btn {
                        padding: 15px 45px;
                        width: fit-content;
                        display: block;
                        margin: 0 auto;
                        height: auto;
                    }
                }
            }
        }
        &--paid {
            .modal-body {
                padding: 300px 20px;
            }
            .modal-account__btn {
                width: fit-content;
                display: block;
                font-size: 14px;
                padding: 15px 45px;
                height: auto;
                margin: 0 auto 17px;
            }
        }
        &--bill {
            max-width: 500px;
            .modal-account__btn {
                padding: 15px 34px;
                width: fit-content;
                font-size: 14px;
                color: #4B2E77;
                margin: 0 auto 20px;
                display: block;
                height: auto;
            }
        }
    }
    @media screen and (max-width: 991px) {
        &-account {
            &__back {
                top: 20px;
                left: 30px;
            }
        }
    }
    @media screen and (max-width: 575px) {
        &-account {
            &__info {
                &-btn {
                    font-size: 12px;
                    padding: 4px 8px;
                }
            }
            &__verify {
                .row {
                    >div {
                        input {
                            height: 40px;
                        }
                    }
                }
            }
            &__radio {
                &-wrap {
                    display: block;
                    p {
                        width: 100%;
                        margin-bottom: 4px;
                    }
                    .row {
                        width: 100%;
                    }
                }
            }
            &--subscribe {
                .modal {
                    &-body {
                        padding-left: 20px;
                        padding-right: 20px;
                    }
                }
            }
        }
    }
}

.form-item {
    position: relative;
    margin-bottom: 16px;
    &__wrapper {
        border-radius: 10px;
        border: 1px solid #D9D9D9;
        transition: $transition;
    }
    &__main {
        width: 100%;
        padding: 14px 16px;
        color: #9198A3;
        transition: $transition;
        border-radius: 9px;
        color: #000;
        &::placeholder {
            color: #cfcfcf;
        }
    }
    label {
        font-size: 14px;
        color: #7B59A3;
        padding: 1px 4px;
        background-color: #fff;
        display: block;
        width: fit-content;
        position: absolute;
        left: 12px;
        top: 0;
        transform: translateY(-50%);
        opacity: 0;
        visibility: visible;
        transition: $transition;
    }
    &__icon {
        width: 24px;
        height: 24px;
        position: absolute;
        top: 50%;
        right: 16px;
        transform: translateY(-50%);
        img {
            width: 100%;
        }
    }
    &.focus {
        label {
            opacity: 1;
            visibility: visible;
        }
        .form-item__wrapper {
            border: 1.5px solid #7B59A3;
            color: #232323;
        }
        &.select {
            select {
                background-image: url(../img/chevron-down-purple.svg);
            }
        }
    }
    &.select {
        select {
            appearance: none;
            background-image: url(../img/arrow-down.svg);
            background-size: 24px;
            background-position: calc(100% - 16px) center;
            background-repeat: no-repeat;
            padding-right: 50px;
        }
    }
}