.discuss {
    padding: 15px;
    position: relative;
    &-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__my {
            display: flex;
            align-items: center;
            gap: 4px;
            margin-bottom: 4px;
            input {
                width: 18px;
                height: 18px;
                position: relative;
                &::before {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 100%;
                    border: 2px solid #000;
                    top: 0;
                    left: 0;
                    border-radius: 3px;
                }
            }
            label {
                font-size: 14px;
                color: #000;
            }
        }
        button {
            display: flex;
            align-items: center;
            padding: 8px 12px;
            border-radius: 100px;
            background-color: #7B59A3;
            svg {
                width: 16px;
                height: 16px;
            }
            span {
                font-size: 12px;
                font-weight: 700;
                color: #fff;
            }
        }
        &__time {
            display: flex;
            align-items: center;
            gap: 4px;
            p {
                margin: 0;
                font-size: 14px;
                color: #000;
            }
            img {
                width: 16px;
            }
        }
    }
    &-table {
        width: 100%;
        table {
            width: 100%;
            text-align: center;
            th {
                padding: 8px 4px;
                position: relative;
                font-weight: 700;
                span {
                    color: #000;

                }
            }
            td {
                padding: 6px 4px;
                color: #000;
                font-family: $font-montserrat;
            }
            th, td {
                font-size: 14px;
            }
            tr {
                &:nth-child(even) {
                    td {
                        background-color: #F7F6FE;
                    }
                }
            }
        }
        &__sort {
            position: absolute;
            width: 16px;
            top: 50%;
            right: 4px;
            transform: translateY(-50%);
            cursor: pointer;
        }
        &__title-text {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            margin: 0;
            color: #000;
        }
        &__tag {
            background-color: #7B59A3;
            border-radius: 100px;
            color: #fff;
            padding: 3px 12px;
            font-size: 12px;
            font-weight: 700;
        }
        &__time {
            font-size: 12px;
            color: #9E9E9E;
            font-weight: 700;
            margin: 0;
        }
        &__comment {
            display: flex;
            align-items: center;
            gap: 7px;
            img {
                width: 12px;
            }
            p {
                margin: 0;
                font-size: 12px;
                font-family: $font-montserrat;
            }
        }
        &__arrow {
            width: 16px;
        }
    }
    &-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 0;
        &__side {
            width: 110px;
        }
        &__btn {
            width: 97px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100px;
            background-color: #F3994F;
            span {
                text-decoration: underline;
                color: #fff;
                font-size: 12px;
            }
        }
        &__itemnum {
            display: flex;
            align-items: center;
            gap: 12px;
            p {
                margin: 0;
                color: #9E9E9E;
                font-size: 12px;
            }
            select {
                border-radius: 8px;
                background-color: #E0E0E0;
                appearance: none;
                background-image: url(../img/caret-down-fill.svg);
                background-size: 8px;
                background-position: calc(100% - 9px) center;
                background-repeat: no-repeat;
                padding: 8px 20px 8px 8px;
                font-family: $font-montserrat;
                font-size: 12px;
                color: #000;
            }
        }
    }
    &-writer {
        background-color: #fff;
        border-radius: 6px;
        box-shadow: 0 4px 4px rgba(0,0,0,0.25);
        padding: 30px 20px 10px;
        width: calc((100% - 20px - 80px - 10px - 13px - 40px) * 0.2);
        position: fixed;
        left: calc(10px + 80px + 10px + 13px);
        top: calc(10px + 60px + 10px + 50px);
        transition: $transition;
        h2 {
            text-align: center;
            font-size: 16px;
            font-weight: normal;
            color: #000;
            margin-bottom: 8px;
        }
        &__score {
            display: flex;
            align-items: center;
            padding: 2px 8px 2px 18px;
            border-radius: 100px;
            background-color: #ECFDF3;
            position: relative;
            font-size: 12px;
            color: #027A48;
            width: fit-content;
            margin: 0 auto 8px;
            &::before {
                position: absolute;
                content: "";
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: #12B76A;
                top: 50%;
                left: 7px;
                transform: translateY(-50%);
            }
        }
        &__insurance {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            margin-bottom: 7px;
            svg {
                width: 30px;
                height: 30px;
                path {
                    fill: #9E9E9E;
                }
                &.active {
                    path {
                        fill: #7B59A3;
                    }
                }
            }
        }
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: fit-content;
            gap: 8px;
            background-color: #F3994F;
            margin: 0 auto;
            padding: 6px 11px;
            border-radius: 100px;
            svg {
                width: 18px;
                height: 18px;
            }
            span {
                font-size: 12px;
                font-weight: 700;
                color: #fff;
            }

        }
        &__pic {
            width: 47px;
            height: 47px;
            border-radius: 50%;
            position: absolute;
            left: 50%;
            top: 0;
            transform: translate(-50%, -50%);
            >img {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                top: 0;
                left: 0;
            }
        }
        &__tag {
            padding: 2px 13px;
            border-radius: 100px;
            background-color: #7B59A3;
            color: #fff;
            font-size: 14px;
            font-weight: 700;
            margin-left: auto;   
            width: fit-content;
        }
    }
    &-detail {
        padding: 13px 40px 13px 13px;
    }
    &-content {
        width: 80%;
        margin-left: auto;
        padding-left: 25px;
        &__head {
            padding-bottom: 8px;
            border-bottom: 1px solid #D9D9D9;
            h1 {
                font-size: 18px;
                color: #000;
                margin-bottom: 4px;
            }
        }
        &__time {
            color: #9E9E9E;
            font-size: 16px;
            font-weight: 700;
            margin: 0;
        }
        &__info {
            &-icon {
                display: flex;
                align-items: center;
                gap: 8px;
                svg {
                    width: 25px;
                    height: 25px;
                }
                p {
                    margin: 0;
                    font-weight: 500;
                    color: #9E9E9E;
                    font-family: $font-montserrat;
                }
            }
            &-btn {
                svg {
                    width: 20px;
                    height: 20px;
                }
                &.btn {
                    &-orange {
                        svg {
                            path {
                                fill: #F3994F;
                            }
                        }
                    }
                    &-red {
                        svg {
                            path {
                                fill: #A30D11;
                            }
                        }
                    }
                    &-purple {
                        svg {
                            path {
                                fill: #7B59A3;
                            }
                        }
                    }
                    &-green {
                        svg {
                            path {
                                fill: #1F9254;
                            }
                        }
                    }
                }
            }
        }
        &__like {
            cursor: pointer;
            svg {
                path {
                    fill: #9E9E9E;
                    transition: $transition;
                }
            }
            &.like {
                svg {
                    path {
                        fill: #F3994F;
                    }
                }
            }
        }
        &__text {
            padding-top: 11px;
            color: #718096;
            padding-bottom: 14px;
        }
        &__btn {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            .btn {
                display: flex;
                align-items: center;
                border-radius: 100px;
                padding: 8px 15px;
                gap: 4px;
                border: 1px solid;
                transition: $transition;
                svg {
                    width: 20px;
                    height: 20px;
                    path {
                        transition: $transition;                        
                    }
                }
                span {
                    font-size: 12px;
                    transition: $transition;
                }
                &:hover {
                    svg {
                        path {
                            fill: #fff;
                        }
                    }
                    span {
                        color: #fff;
                    }
                }
                &-purple {
                    border-color: #7B59A3;
                    svg {
                        path {
                            fill: #7B59A3;
                        }
                    }
                    span {
                        color: #7B59A3;
                    }
                    &:hover {
                        background-color: #7B59A3;
                    }
                }
                &-red {
                    border-color: #A30D11;
                    svg {
                        path {
                            fill: #A30D11;
                        }
                    }
                    span {
                        color: #A30D11;
                    }
                    &:hover {
                        background-color: #A30D11;
                    }
                }
                &-green {
                    border-color: #1F9254;
                    svg {
                        path {
                            fill: #1F9254;
                        }
                    }
                    span {
                        color: #1F9254;
                    }
                    &:hover {
                        background-color: #1F9254;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 991px) {
        &-head {
            padding: 7px 15px;
            background-color: #fff;
        }
        &-table {
            width: 100%;
            table {
                text-align: left;
                display: block;
                th, tr, td, tbody {
                    display: block;
                }
                tr {
                    width: 100%;
                    &:nth-child(even) {
                        td {
                            background-color: #F7F6FE;
                        }
                    }
                    &:nth-child(odd) {
                        td {
                            background-color: #fff;
                        }
                    }
                }
                td {
                    &:not(.discuss-table__title) {
                        display: none;
                    }
                }
            }
            &__th {
                display: none !important;
            }
            &__title {
                width: 100%;
                padding: 15px 10px !important;
                &-text {
                    width: calc(100% - 48px);
                    padding-left: 10px;
                    padding-top: 2px;
                }
            }
        }
        &-bottom {
            justify-content: center;
            &__side {
                display: none;
            }
        }
        &-detail {
            background-color: #fff;
            box-shadow: 0 0 24px rgba(0,0,0,0.08);
            border-radius: 20px;
            padding: 13px 30px 60px;
        }
        &-writer {
            position: static;
            width: 100%;
            box-shadow: none;
            padding: 0 0 10px;
            &__main {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                gap: 8px;
            }
            &__pic {
                position: relative;
                transform: none;
                left: inherit;
                top: inherit;
                // margin-right: 16px;
                order: 1;
            }
            h2 {
                // margin-right: 8px;
                order: 2;
                margin-bottom: 0;
            }
            &__score {
                margin: 0;
                order: 4;
            }
            &__insurance {
                // margin-right: 4px;
                margin-bottom: 0;
                order: 3;
                svg {
                    width: 27px;
                    height: 27px;
                }
            }
        }
        &-content {
            padding: 0;
            width: 100%;
            h1 {
                padding-bottom: 16px;
                border-bottom: 1px solid #D9D9D9;
            }
            &__head {
                border: 0;
            }
            &__info {
                border: 0;
                padding-top: 13px;
                flex-wrap: wrap;
            }
        }
    }
}

.page-discuss {
    .page {
        &_head {
            display: flex;
            align-items: center;
            padding: 12px 33px;
            top: 10px;
            right: 25px;
            width: calc(100% - 20px - 80px - 10px - 15px);
            background-color: #fff;
            border-radius: 30px 15px 0 0;
            z-index: 1;
            border-bottom: 1px solid #D9D9D9;
        }
    }
    &.menu-open {
        .page_head {
            width: calc(100% - 20px - 260px - 10px - 15px);
        }
        .discuss-writer {
            left: calc(10px + 260px + 10px + 13px);
            width: calc((100% - 20px - 260px - 10px - 13px - 40px) * 0.2);
        }
    }
    @media screen and (max-width: 991px) {
        .page {
            &_head {
                width: 100%;
                padding: 0 20px;
                background-color: #F3F6FB;
                right: 0;
                top: 0;
                border-bottom: 1px solid #DBDBDB;
            }
            &_inner {
                padding-top: 70px;
                overflow: visible;
            }
        }
    }
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    &__direction {
        color: #9E9E9E;
        font-size: 12px;
    }
    &__num {
        width: 31px;
        height: 31px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $font-montserrat;
        color: #000;
        font-size: 12px;
        background-color: #E0E0E0;
        &.active {
            background-color: #7B59A3;
            color: #fff;
        }
    }
}