.page-home {
    background-color: var(--primary-4);
}

.home {
    min-height: 100%;
    width: 100%;
    background-image: url(../img/home-bg.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    &__wrapper {
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
        padding: 9vh 20px 0;
    }
    &__logo {
        width: 140px;
        margin-left: 85px;
        margin-bottom: 12vh;
    }
    &-main {
        h1 {
            text-align: center;
            color: var(--white);
            font-size: 50px;
            font-weight: 700;
            margin-bottom: 38px;
        }
        &__btn {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
            margin-bottom: 12vh;
            a {
                display: flex;
                align-items: center;
                border-radius: 100px;
                padding: 5px 18px;
                cursor: pointer;
                span {
                    font-size: 16px;
                    font-weight: 500;
                }
                svg {
                    width: 22px;
                    height: 22px;
                }
                &.btn {
                    &-yellow {
                        background-color: #F48C06;
                        span {
                            color: var(--white);
                        }
                        svg {
                            path {
                                fill: var(--white);
                            }
                        }
                    }
                    &-white {
                        background-color: var(--white);
                        span {
                            color: var(--gray-5);
                        }
                        svg {
                            path {
                                fill: var(--gray-5);
                            }
                        }
                    }
                }
            }
        }
    }
    &-case {
        .row {
            margin-left: -8px;
            margin-right: -8px;
            align-items: stretch;
            >div {
                padding-left: 8px;
                padding-right: 8px;
            }
        }
        &__item {
            padding: 14px 16px;
            border-radius: 20px;
            display: flex;
            background-color: rgba(255,255,255,0.8);
            backdrop-filter: blur(20px);
            box-shadow: 0 4px 4px rgba(0,0,0,0.25);
            height: 100%;
            &.has {
                &-icon {
                    .home-case__pic {
                        border-radius: 8px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        svg {
                            width: 16px;
                            height: 16px;
                            path {
                                fill: var(--white);
                            }
                        }
                        &.bg {
                            &-blue {
                                background-color: #23BDEE;
                            }
                            &-yellow {
                                background-color: #F88C3D;
                            }
                        }
                    }
                }
                &-photo {
                    .home-case__pic {
                        border-radius: 50%;
                        position: relative;
                        >img {
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            object-fit: cover;
                            top: 0;
                            left: 0;
                        }
                    }
                }
            }
        }
        &__pic {
            width: 30px;
            height: 30px;
        }
        &__text {
            width: calc(100% - 30px);
            padding-left: 10px;
            h2 {
                font-size: 16px;
                font-weight: 700;
                color: var(--gray-5);
                margin-bottom: 10px;
            }
            a {
                padding: 3px 15px;
                background-color: var(--primary-7);
                display: block;
                width: fit-content;
                color: var(--white);
                border-radius: 100px;
                font-weight: 500;
                margin: 0 auto;
            }
        }
    }
    &-mask {
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 98%;        
    }
    &.footer-static {
        position: static;
        .footer {
            position: static;
        }
    }
    @media screen and (max-width: 991px) {
        &-case {
            .row {
                >div {
                    margin-bottom: 12px;
                }
            }
        }
    }
    @media screen and (max-width: 575px) {
        background-image: none;
        &__wrapper {
            padding: 0;
        }
        &-main {
            padding: 4.8vh 16px 8vh;
            background-image: url(../img/home-bg.svg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            h1 {
                font-size: 30px;
                margin-bottom: 20px;
            }
            &__btn {
                margin: 0;
                a {
                    padding: 10px 25px;
                    span {
                        font-size: 20px;
                    }
                }
            }
        }
        &__logo {
            margin-left: 30px;
            margin-bottom: 4.5vh;
        }
        &-case {
            padding: 55px 16px;
            position: relative;
            &__item {
                padding: 12px;
            }
            &__text {
                width: calc(100% - 27px);
                h2 {
                    font-size: 14px;
                }
                a {
                    font-size: 14px;
                }
            }
            &__pic {
                width: 27px;
                height: 27px;
            }
        }
        &-mask {
            bottom: 99%;
        }
    }
}

.footer {
    padding: 24px;
    background-color: var(--primary-4);
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    p {
        margin: 0;
        color: #8A8A8A;
        text-align: center;
        font-size: 12px;
    }
    &__term {
        position: absolute;
        right: 24px;
        top: 50%;
        transform: translateY(-50%);
    }
    @media screen and (max-width: 575px) {
        &__term {
            position: static;
            margin-top: 12px !important;
            transform: none;
        }
    }
}