.modal-account {
    &--reset {
        .modal-account {
            &__text {
                margin-bottom: 35px;
            }
            &__robot {
                margin: 35px auto 30px;
            }
        }
        &-2 {
            .modal-account {
                &__text {
                    margin-bottom: 20px;
                }
            }
        }
    }

}