$transition: 0.3s;

body {
    background-color: #F3F6FB;
    padding: 30px;
    @media screen and (max-width: 767px) {
        padding: 20px;
    }
}

* {
    padding: 0;
    margin: 0;
    font-family: "Plus Jakarta Sans", sans-serif;
    box-sizing: border-box;
    color: #718096;
}

button, input {
    outline: none;
    background-color: transparent;
    border: 0;
    color: #718096;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.main {
    display: flex;
    flex-wrap: wrap;
    &.menu-open {
        .nav {
            width: 260px;
            padding: 30px 20px;
        }
        .page {
            width: calc(100% - 260px);
        }
    }
}

.nav {
    background-color: #fff;
    border-radius: 20px;
    padding: 30px 0;
    width: 80px;
    box-shadow: 0 0 24px rgba(0,0,0,0.08);
    height: calc(100vh - 60px);
    position: relative;
    transition: $transition;
    &_menu {
        width: 24px;
        padding: 0;
        >img {
            width: 100%;
        }
    }
    &_title {
        display: flex;
        align-items: center;
        gap: 26px;
        margin-bottom: 47px;
        justify-content: center;
        transition: $transition;
    }
    &_logo {
        display: flex;
        align-items: center;
        gap: 10px;
        display: none;
        >img {
            width: 20px;
        }
        >h1 {
            font-size: 20px;
            color: #8E61C3;
            margin: 0;
        }
    }
    &_icon {
        width: 56px;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 14px;
        svg {
            width: 30px;
            height: 30px;
            path {
                fill: #8E61C3;
            }
        }
    }
    ul {
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 17px;
            span {
                font-size: 20px;
                font-weight: 700;
                color: #4A4458;
                display: none;
            }
            &.active {
                .nav {
                    &_icon {
                        background-color: #8E61C3;
                        svg {
                            width: 40px;
                            height: 40px;
                            path {
                                fill: #fff;
                            }
                        }
                    }
                }
            }
        }
        li {
            margin-bottom: 10px;
        }
    }
    .purchase {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border-radius: 100px;
        border: 1px solid #8E61C3;
        gap: 8px;
        position: absolute;
        bottom: 96px;
        left: 50%;
        transform: translateX(-50%);
        width: 48px;
        height: 48px;
        border-radius: 50%;
        transition: $transition;
        img {
            width: 30px;
        }
        span {
            font-size: 20px;
            font-weight: 700;
            color: #8E61C3;
            display: none;
        }
    }
    &.menu-open {
        width: 260px;
        padding: 30px 20px;
        .nav {
            &_logo {
                display: flex;
            }
        }
        ul {
            a {
                justify-content: flex-start;
                span {
                    display: block;
                }
            }
        }
        .purchase {
            width: calc(100% - 40px);
            border-radius: 100px;
            span {
                display: block;;
            }
        }
    }
    @media screen and (max-width: 767px) {
        position: fixed;
        width: 260px;
        padding: 30px 20px;
        z-index: 10;
        left: -300px;
        .nav {
            &_logo {
                display: flex;
            }
        }
        ul {
            a {
                justify-content: flex-start;
                span {
                    display: block;
                }
            }
        }
        .purchase {
            width: calc(100% - 40px);
            border-radius: 100px;
            span {
                display: block;;
            }
        }
        &.active {
            left: 20px;
        }
    }
}

.page {
    width: calc(100% - 80px);
    padding-left: 23px;
    transition: $transition;
    &_inner {
        background-color: #fff;
        border-radius: 30px;
        padding-top: 100px;
        box-shadow: 0 0 24px rgba(0,0,0,0.08);
        width: 100%;
        height: calc(100vh - 60px);
        overflow-y: auto;
    }
    &.menu-open {
        width: calc(100% - 260px);
        .chat_bottom {
            width: calc(100% - 260px - 23px - 60px);
        }
    }
    &_head {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: fixed;
        top: 54px;
        right: 58px;
        .nav_title {
            display: none;
        }
    }
    @media screen and (max-width: 767px) {
        width: 100%;
        padding: 0;
        &_inner {
            background-color: transparent;
            border-radius: 0;
            box-shadow: none;
        }
        &_head {
            justify-content: space-between;
            width: calc(100% - 60px);
            right: 30px;
            background-color: #F3F6FB;
            padding-top: 20px;
            padding-bottom: 20px;
            top: 0;
            .nav_title {
                display: flex;
                margin: 0;
            }
            .nav_logo {
                display: flex;
            }
        }
    }
}

.chat {
    max-width: 745px;
    width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    .question {
        padding: 17px 26px;
        border-radius: 30px 30px 0 30px;
        background-color: #EEEEEE;
        font-weight: 700;
        color: #718096;
        margin-bottom: 30px;
        width: fit-content;
        margin-left: auto;
    }
    .answer {
        display: flex;
        align-items: flex-start;
        &_logo {
            width: 33px;
            height: 33px;
            border-radius: 50%;
            background-color: #8E61C3;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 18px;
            }
        }
        &_text {
            width: calc(100% - 33px);
            padding-left: 14px;
            font-weight: 700;
            line-height: 1.9;
            hr {
                margin: 10px 0;
            }
        }
    }
    &_inner {
        padding-bottom: 192px;
    }
    &_bottom {
        position: fixed;
        width: calc(100% - 80px - 23px - 60px);
        border-radius: 0 0 30px 30px;
        bottom: 30px;
        right: 30px;
        transition: $transition;
        &_inner {
            max-width: 745px;
            width: 100%;
            margin: 0 auto;
            background-color: #fff;
            padding-bottom: 16px;
            padding-left: 20px;
            padding-right: 20px;
        }
        .remark {
            font-size: 14px;
            margin: 0;
            color: #718096;
        }
    }
    &_input {
        padding: 20px;
        border-radius: 12px;
        border: 2px solid #8E61C3;
        margin-bottom: 10px;
        background-color: #fff;
        input {
            width: 100%;
            margin-bottom: 10px;
            &::placeholder {
                font-size: 14px;
                color: rgba(0,0,0,0.4);
            }
        }
        &_add {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            background-color: #8E61C3;
            img {
                width: 34px;
            }
        }
        &_btn {
            display: flex;
            align-items: center;
            justify-content: space-between;
            &_left {
                display: flex;
                align-items: center;
                gap: 12px; 
                button {
                    padding: 8px;
                    border-radius: 100px;
                    border: 1px solid #8E61C3;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    img {
                        width: 24px;
                    }
                    span {
                        color: #8E61C3;
                    }
                }               
            }
        }
        &_send {
            width: 36px;
            padding: 0;
            >img {
                width: 100%;
            }
        }
    }
    @media screen and (max-width: 767px) {
        padding-left: 0;
        padding-right: 0;
        &_bottom {
            width: 100%;
            bottom: 0;
            left: 0;
            &_inner {
                background-color: #F3F6FB;
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        &_input {
            padding: 15px;
            &_add {
                width: 30px;
                height: 30px;
            }
            &_btn {
                &_left {
                    gap: 8px;
                    button {
                        gap: 0;
                        img {
                            width: 16px;
                        }
                        span {
                            font-size: 10px;
                        }
                    }
                }
            }
            &_send {
                width: 24px;
            }
        }

    }
}

.account {
    &_pic {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        position: relative;
        cursor: pointer;
        >img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            top: 0;
            left: 0;
        }
    }
    &_nav {
        display: none;
        width: 130px;
        position: absolute;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.15);
        right: 0;
        top: calc(100% + 6px);
        right: -20px;
        padding: 10px 0;
        ul {
            border-bottom: 1px solid #D9D9D9;
            &:last-child {
                border: 0;
            }
        }
        li {
            padding: 5px 0;
        }
        a {
            display: flex;
            align-items: center;
            gap: 14px;
            padding: 0 10px;
            img {
                width: 18px;
            }
            span {
                font-size: 14px;
                color: #4A4458;
            }
        }
        &_text {
            font-size: 10px;
            color: #B2B2B2;
            padding-left: 10px !important;
            padding-right: 10px !important;
        }
    }
}

.fixed-btn {
    width: 34px;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    >img {
        width: 100%;
    }
}