@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Space+Grotesk:wght@300..700&display=swap");
:root {
  --transition: 0.3s;
  --font-grotesk: "Space Grotesk", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --color-text: #718096;
  --primary-1: #8E61C3;
  --primary-2: #4A4458;
  --primary-3: #7B59A3;
  --primary-4: #F3F6FB;
  --primary-5: #4B2E77;
  --primary-6: #F7F6FE;
  --primary-7: #5A60E0;
  --primary-8: #F5EDFF;
  --secondary-1: #F3994F;
  --white: #fff;
  --gray-1: #D9D9D9;
  --gray-2: #232323;
  --gray-3: #9E9E9E;
  --gray-4: #E0E0E0;
  --gray-5: #595959;
  --gray-6: #1A1A1A;
  --black: #000000;
  --red: #A30D11;
  --green: #1F9254;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: var(--color-text);
}

button, input, select, textarea {
  outline: none;
  background-color: transparent;
  border: 0;
  color: var(--color-text);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main.menu-open .nav {
  width: 260px;
  padding: 30px 20px;
}

.main.menu-open .page {
  width: calc(100% - 260px);
}

.nav {
  background-color: var(--white);
  border-radius: 20px;
  padding: 30px 0;
  width: 80px;
  -webkit-box-shadow: 0 0 24px rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 24px rgba(0, 0, 0, 0.08);
  position: relative;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  position: fixed;
  height: calc(100% - 20px);
  display: block;
}

.nav_menu {
  padding: 0;
  width: 44px;
  height: 44px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav_menu > img {
  width: 24px;
}

.nav_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  margin-bottom: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  position: relative;
}

.nav_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  left: 56px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.nav_logo > img {
  width: 20px;
}

.nav_logo > h1 {
  font-size: 20px;
  color: var(--primary-1);
  margin: 0;
  white-space: nowrap;
}

.nav_icon {
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav_icon svg {
  width: 24px;
  height: 24px;
}

.nav_icon svg path {
  fill: var(--primary-1);
}

.nav ul a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
  position: relative;
  padding: 15px;
  border-radius: 14px;
  width: 54px;
  height: 54px;
  margin-left: auto;
  margin-right: auto;
}

.nav ul a span {
  color: var(--primary-2);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  position: absolute;
}

.nav ul a.active {
  background-color: #9E84BB;
}

.nav ul a.active .nav_icon svg path {
  fill: var(--white);
}

.nav ul a.active span {
  color: var(--white);
}

.nav ul li {
  margin-bottom: 16px;
}

.nav .purchase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  border-radius: 100px;
  border: 1px solid var(--secondary-1);
  gap: 8px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.nav .purchase img {
  width: 24px;
}

.nav .purchase span {
  font-size: 16px;
  font-weight: 700;
  color: var(--secondary-1);
  display: none;
}

.nav.menu-open {
  width: 260px;
  padding: 30px 28px;
}

.nav.menu-open .nav_logo {
  position: static;
  opacity: 1;
  visibility: visible;
  -webkit-transform: none;
          transform: none;
}

.nav.menu-open .nav_title {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.nav.menu-open ul a {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  border-radius: 20px;
}

.nav.menu-open ul a span {
  visibility: visible;
  opacity: 1;
  position: static;
}

.nav.menu-open .purchase {
  width: calc(100% - 40px);
  border-radius: 100px;
}

.nav.menu-open .purchase span {
  display: block;
}

@media screen and (max-width: 991px) {
  .nav {
    position: fixed;
    width: 260px;
    padding: 25px 15px;
    z-index: 100;
    left: -300px;
    top: 20px;
    height: calc(100% - 40px);
  }
  .nav .nav_logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav ul a {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
  }
  .nav ul a span {
    display: block;
    position: static;
    opacity: 1;
    visibility: visible;
  }
  .nav .purchase {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 4px 12px;
    border-radius: 100px;
    left: 15px;
    -webkit-transform: none;
            transform: none;
  }
  .nav .purchase span {
    display: block;
  }
  .nav.active {
    left: 12px;
  }
  .nav_logo {
    display: none;
  }
  .nav_title {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.page {
  width: calc(100% - 80px);
  padding-left: 30px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.page-main {
  background-color: var(--primary-4);
  padding: 10px;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 991px) {
  .page-main {
    overflow: visible;
  }
}

.page-inner {
  background-image: url(../img/bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-color: var(--primary-4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 20px;
}

.page-inner__main {
  padding: 35px 40px;
  background-color: var(--white);
  border-radius: 30px;
  max-height: calc(100vh - 50px);
  overflow-y: auto;
  width: 100%;
  position: relative;
}

.page-inner__main .btn-back {
  margin-left: auto;
}

.page-inner__title {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  color: var(--primary-2);
  margin-bottom: 25px;
}

.page-inner__text {
  color: var(--black);
  line-height: 1.9;
  margin: 0;
  text-align: justify;
}

.page-inner .page_head {
  display: none;
}

.page_inner {
  background-color: var(--white);
  border-radius: 30px;
  padding-top: 60px;
  -webkit-box-shadow: 0 0 24px rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 24px rgba(0, 0, 0, 0.08);
  overflow-y: auto;
  position: fixed;
  width: calc(100% - 20px - 80px - 10px);
  height: calc(100% - 20px);
  top: 10px;
  right: 10px;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.page.menu-open .page {
  width: calc(100% - 260px);
}

.page.menu-open .page_inner {
  width: calc(100% - 260px - 20px - 10px);
}

.page.menu-open .chat_bottom {
  width: calc(100% - 260px - 20px - 10px - 40px);
}

.page_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: fixed;
  top: 22px;
  right: 58px;
  z-index: 10;
}

.page_head .nav_title {
  display: none;
}

.page-discuss.menu-open .page_head {
  width: calc(100% - 20px - 260px - 10px - 15px);
}

.page-discuss.menu-open .discuss-writer {
  left: calc(10px + 260px + 10px + 13px);
  width: calc((100% - 20px - 260px - 10px - 13px - 40px) * 0.2);
}

@media screen and (max-width: 991px) {
  .page {
    width: 100%;
    padding: 0;
  }
  .page-inner {
    background-image: none;
    padding: 80px 20px 30px;
  }
  .page-inner .page_head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .page-inner__main {
    -webkit-box-shadow: 0 0 24px rgba(0, 0, 0, 0.08);
            box-shadow: 0 0 24px rgba(0, 0, 0, 0.08);
    overflow: visible;
    max-height: inherit;
    padding: 20px 30px;
    border-radius: 20px;
  }
  .page_inner {
    background-color: transparent;
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding-top: 70px;
    height: auto;
    position: static;
    width: 100%;
  }
  .page_head {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    background-color: var(--primary-4);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-content: space-between;
    height: 64px;
    right: 0;
    top: 0;
    border-bottom: 1px solid #DBDBDB;
  }
  .page_head .nav_title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
  .page_head .nav_logo {
    display: none;
  }
}

.account_pic {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.account_pic > img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.account_nav {
  display: none;
  width: 140px;
  position: absolute;
  background-color: var(--white);
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  right: 0;
  top: calc(100% + 6px);
  right: -20px;
  padding: 10px 0;
}

.account_nav ul {
  border-bottom: 1px solid var(--gray-1);
}

.account_nav ul:last-child {
  border: 0;
}

.account_nav li {
  padding: 5px 0;
}

.account_nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
  padding: 0 10px;
  cursor: pointer;
}

.account_nav a img {
  width: 18px;
}

.account_nav a span {
  font-size: 16px;
  color: var(--primary-2);
}

.account_nav_text {
  font-size: 10px;
  color: #B2B2B2;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

@media screen and (max-width: 991px) {
  .account_nav {
    right: 20px;
  }
}

.fixed-btn {
  width: 34px;
  position: fixed;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 0;
}

.fixed-btn > img {
  width: 100%;
}

@media screen and (max-width: 1399px) {
  .fixed-btn {
    display: none;
  }
}

.btn-back {
  width: 24px;
  height: 24px;
  padding: 0;
  display: block;
}

.btn-back svg {
  width: 24px;
  height: 24px;
}

.modal-backdrop {
  background-image: url(../img/bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.modal-backdrop.show {
  opacity: 1;
}

.modal-dialog {
  padding: 10px;
}

.modal .btn-back {
  position: absolute;
  top: 25px;
  right: 30px;
  z-index: 1;
}

.modal-account {
  color: var(--black);
  overflow-y: auto !important;
  max-width: 450px;
  border-radius: 30px;
}

.modal-account .modal-content {
  border: 0;
  border-radius: 30px;
}

.modal-account .modal-body {
  padding: 90px 40px 70px;
}

.modal-account .btn-verify {
  padding: 9px 14px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  margin-left: auto;
  color: var(--primary-5);
  font-size: 14px;
  margin-bottom: 14px;
}

.modal-account .city-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 14px;
  width: 100%;
}

.modal-account .city-select select {
  width: calc((100% - 14px) / 2);
  border-radius: 10px;
  border: 1px solid var(--primary-3);
  height: 52px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.modal-account__checkbox {
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-account__checkbox input {
  width: 18px;
  height: 18px;
  position: relative;
}

.modal-account__checkbox input::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 3px;
  border: 2px solid var(--black);
  top: 0;
  left: 0;
}

.modal-account__checkbox label {
  color: var(--gray-2);
}

.modal-account__btn {
  width: 100%;
  height: 47px;
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  border: 1px solid;
  font-size: 18px;
  font-weight: 700;
}

.modal-account__btn svg {
  width: 18px;
  height: 18px;
}

.modal-account__btn svg path {
  fill: var(--white);
}

.modal-account__btn.btn-purple {
  background-color: var(--primary-3);
  border-color: var(--primary-3);
  color: var(--white);
}

.modal-account__btn.btn-purple span {
  color: var(--white);
}

.modal-account__btn.btn-orange {
  background-color: var(--secondary-1);
  border-color: #E6E8E7;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.03);
  color: var(--primary-2);
}

.modal-account__btn.btn-orange.border-purple {
  border-color: var(--primary-3);
  color: var(--primary-5);
}

.modal-account__btn.btn-white {
  background-color: var(--white);
  border-color: var(--black);
  color: var(--primary-2);
}

.modal-account__text ul {
  margin-bottom: 25px;
}

.modal-account__text ul li {
  font-size: 14px;
  color: var(--primary-2);
}

.modal-account__title {
  font-size: 30px;
  font-weight: normal;
  color: var(--primary-2);
  margin-bottom: 16px;
  font-weight: 700;
  text-align: center;
}

.modal-account__btn-row {
  margin-left: -6px;
  margin-right: -6px;
}

.modal-account__btn-row > div {
  padding-left: 6px;
  padding-right: 6px;
}

.modal-account__verify {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9px;
  margin-bottom: 24px;
}

.modal-account__verify .row {
  margin-left: -3px;
  margin-right: -3px;
}

.modal-account__verify .row > div {
  padding-left: 3px;
  padding-right: 3px;
}

.modal-account__verify .row > div input {
  text-align: center;
  height: 56px;
  width: 100%;
  border-radius: 10px;
  border: 2px solid var(--primary-3);
}

.modal-account__verify > img {
  width: 24px;
  cursor: pointer;
}

.modal-account__back {
  position: absolute;
  width: 24px;
  height: 24px;
  padding: 0;
  top: 35px;
  left: 40px;
}

.modal-account__back > img {
  width: 100%;
}

.modal-account__user {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto;
}

.modal-account__user > img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
}

.modal-account__user-edit {
  position: absolute;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #F5F5F5;
  border: 5px solid var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 0;
  bottom: -16px;
}

.modal-account__user-edit img {
  width: 24px;
}

.modal-account__user-edit input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}

.modal-account__textarea textarea {
  border: 1.5px solid var(--primary-3);
  border-radius: 20px;
  padding: 8px 12px;
  margin-bottom: 4px;
  width: 100%;
  height: 112px;
}

.modal-account__textarea textarea::-webkit-input-placeholder {
  font-size: 14px;
  color: var(--gray-3);
}

.modal-account__textarea textarea:-ms-input-placeholder {
  font-size: 14px;
  color: var(--gray-3);
}

.modal-account__textarea textarea::-ms-input-placeholder {
  font-size: 14px;
  color: var(--gray-3);
}

.modal-account__textarea textarea::placeholder {
  font-size: 14px;
  color: var(--gray-3);
}

.modal-account__textarea p {
  margin: 0;
  text-align: right;
  margin-bottom: 25px;
  font-size: 14px;
}

.modal-account__robot {
  width: 200px;
  margin: 12px auto 20px;
}

.modal-account__radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

.modal-account__radio input {
  width: 16px;
  height: 16px;
  position: relative;
}

.modal-account__radio input::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 3px;
  border: 1px solid var(--primary-3);
  background-color: var(--white);
}

.modal-account__radio input::after {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  background-image: url(../img/check.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  left: 2px;
  bottom: 2px;
  opacity: 0;
}

.modal-account__radio input:checked::after {
  opacity: 1;
}

.modal-account__radio label {
  font-size: 14px;
  color: var(--black);
}

@media screen and (max-width: 991px) {
  .modal-account__back {
    top: 20px;
    left: 30px;
  }
}

@media screen and (max-width: 575px) {
  .modal-account {
    border-radius: 20px;
  }
  .modal-account__verify .row > div input {
    height: 40px;
  }
}

.form-item {
  position: relative;
  margin-bottom: 16px;
}

.form-item__wrapper {
  border-radius: 10px;
  border: 1px solid var(--gray-1);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.form-item__main {
  width: 100%;
  padding: 14px 16px;
  color: #9198A3;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  border-radius: 9px;
  color: var(--black);
}

.form-item__main::-webkit-input-placeholder {
  color: #cfcfcf;
}

.form-item__main:-ms-input-placeholder {
  color: #cfcfcf;
}

.form-item__main::-ms-input-placeholder {
  color: #cfcfcf;
}

.form-item__main::placeholder {
  color: #cfcfcf;
}

.form-item label {
  font-size: 14px;
  color: var(--primary-3);
  padding: 1px 4px;
  background-color: var(--white);
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  left: 12px;
  top: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
  visibility: visible;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.form-item__icon {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  right: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form-item__icon img {
  width: 100%;
}

.form-item.focus label {
  opacity: 1;
  visibility: visible;
}

.form-item.focus .form-item__wrapper {
  border: 1.5px solid var(--primary-3);
  color: var(--gray-2);
}

.form-item.focus.select select {
  background-image: url(../img/chevron-down-purple.svg);
}

.form-item.select select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-image: url(../img/arrow-down.svg);
  background-size: 24px;
  background-position: calc(100% - 16px) center;
  background-repeat: no-repeat;
  padding-right: 50px;
}
/*# sourceMappingURL=style.css.map */