.modal-account {
    &--subscribe {
        .form-item {
            margin-bottom: 20px;
        }
    }
    &__current {
        font-size: 14px;
        color: var(--black);
        margin-bottom: 14px;
    }
    &__radio {
        &-wrap {
            display: flex;
            >p {
                margin: 0;
                font-size: 14px;
                width: 95px;
                color: var(--black);
            }
            .row {
                width: calc(100% - 95px);
                margin: 0;
                >div {
                    padding: 0;
                }
            }
        }

    }
    @media screen and (max-width: 575px) {
        &__radio {
            &-wrap {
                display: block;
                p {
                    width: 100%;
                    margin-bottom: 4px;
                }
                .row {
                    width: 100%;
                }
            }
        }
        &--subscribe {
            .modal {
                &-body {
                    padding-left: 20px;
                    padding-right: 20px;
                }
            }
        }
    }
}